@model proyecto8.Models.producto_proceso

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Producto Proceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cantidad procesada: @*@Html.DisplayNameFor(model => model.cantidad_procesada)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_procesada)
        </dd>

        <dt>
            Fecha de proceso:@* @Html.DisplayNameFor(model => model.fecha_proceso)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_proceso)
        </dd>

        <dt>
            Estado del producto: @* @Html.DisplayNameFor(model => model.estado_producto.tipo_estado)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_producto.tipo_estado)
        </dd>

        <dt>
            Producto: @*@Html.DisplayNameFor(model => model.producto.producto1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.producto1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_producto_proceso }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
