@model proyecto8.Models.telefono_personal

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Telefono</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_telefono_personal)

    <div class="form-group">
        <h4 class="control-label col-md-2">Numero 1</h4>
        @*@Html.LabelFor(model => model.num1_personal, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.num1_personal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.num1_personal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4 class="control-label col-md-2">Numero 2</h4>
        @*@Html.LabelFor(model => model.num2_personal, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.num2_personal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.num2_personal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4 class="control-label col-md-2">Nombre Completo</h4>
        @*@Html.LabelFor(model => model.fk_rut_personal, "fk_rut_personal", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("fk_rut_personal", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fk_rut_personal, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
