@model proyecto8.Models.cargo_personal

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>cargo de personal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <h4 class="control-label col-md-2">Tipo Cargo</h4>
        @*@Html.LabelFor(model => model.tipocargo_personal, htmlAttributes: new { @class = "control-label col-md-2" })*@
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.tipocargo_personal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipocargo_personal, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    
</div>
