@model proyecto8.Models.producto_glaseado

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar producto glaseado</h2>

<h3>@*Are you sure you want to delete this?*@ ¿Estas seguro de eliminar el Producto Glaseado ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Cantidad de Glaseado:  @*@Html.DisplayNameFor(model => model.cantidad_glaseada)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_glaseada)
        </dd>

        <dt>
             Fecha Glaseada: @*@Html.DisplayNameFor(model => model.fecha_glaseada)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_glaseada)
        </dd>

        <dt>
           Estado del glaseado:@* @Html.DisplayNameFor(model => model.estado_glaseado.tipo_estado)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_glaseado.tipo_estado)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.producto_proceso.id_producto_proceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto_proceso.id_producto_proceso)
        </dd>*@

        <dt>
           Producto: @*@Html.DisplayNameFor(model => model.producto.producto1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.producto1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
