
@{
    ViewBag.Title = "Gerente";
}

<h2>Gerente</h2>

@*<ul>
    <li>@Html.ActionLink("Cargos", "Index", "cargo_personal")</li>
    <li>@Html.ActionLink("Estado Glaseado", "Index", "estado_glaseado")</li>
    <li>@Html.ActionLink("Estado Producto", "Index", "estado_producto")</li>
    <li>@Html.ActionLink("Personal", "Index", "personals")</li>
    <li>@Html.ActionLink("Productos", "Index", "productoes")</li>
    <li>@Html.ActionLink("Proveedores del Producto", "Index", "proveedor_producto")</li>
    <li>@Html.ActionLink("Proveedores", "Index", "proveedors")</li>
</ul>*@

<table class="table table-hover">
    <tbody>
        <tr>
            <td>@Html.ActionLink("Cargos", "Index", "cargo_personal")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Estado Glaseado", "Index", "estado_glaseado")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Estado Producto", "Index", "estado_producto")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Personal", "Index", "personals")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Productos", "Index", "productoes")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Proveedores del Producto", "Index", "proveedor_producto")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Proveedores", "Index", "proveedors")</td>
        </tr>
    </tbody>
        

    
    
</table>