@model proyecto8.Models.personal

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>personal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre Completo:@* @Html.DisplayNameFor(model => model.nombre_completo)@*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_completo)
        </dd>

        <dt>
           Apellido Paterno:@*@Html.DisplayNameFor(model => model.apellido_paterno)@*@
        </dt>

        <dd>
           @Html.DisplayFor(model => model.apellido_paterno)
        </dd>

        <dt>
           Apellido Materno:@* @Html.DisplayNameFor(model => model.apellido_materno)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_materno)
        </dd>

        <dt>
          Direccion:@* @Html.DisplayNameFor(model => model.direccion_personal)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_personal)
        </dd>

        <dt>
           Tipo del cargo:@* @Html.DisplayNameFor(model => model.cargo_personal.tipocargo_personal)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo_personal.tipocargo_personal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.rut_personal }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
