@model IEnumerable<proyecto8.Models.personal>

@{
    ViewBag.Title = "Index";
}

<h2>Personal</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre Completo @* @Html.DisplayNameFor(model => model.nombre_completo)*@
        </th>
        <th>
           Apellido Paterno@*  @Html.DisplayNameFor(model => model.apellido_paterno)*@
        </th>
        <th>
           Apellido Materno @*@Html.DisplayNameFor(model => model.apellido_materno)*@
        </th>
        <th>
            Direccion Personal@*@Html.DisplayNameFor(model => model.direccion_personal)*@
        </th>
        <th>
           Tipo del Cargo @*@Html.DisplayNameFor(model => model.cargo_personal.tipocargo_personal)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_materno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_personal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo_personal.tipocargo_personal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.rut_personal }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.rut_personal }) 
            @*@Html.ActionLink("Eliminar", "Delete", new { id=item.rut_personal })*@
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Gerente","Home")">Volver</a>