@model IEnumerable<PatagonesF.producto_proceso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad_procesada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_producto.tipo_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.producto1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad_procesada)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.fecha_proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado_producto.tipo_estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto.producto1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_producto_proceso }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_producto_proceso }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_producto_proceso })
            </td>
        </tr>
    }

</table>

@{

    int total;
    if (Model != null)
    {
        total = Model.Sum(x => x.cantidad_procesada);
        Session["TotalProcesado"] = total;
    }


}
