@model IEnumerable<proyecto8.Models.proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre del proveedor:@* @Html.DisplayNameFor(model => model.nombre_proveedor)*@
        </th>
        <th>
           Direccion:@* @Html.DisplayNameFor(model => model.direccion_proveedor)*@
        </th>
        <th>
           Telefono:@* @Html.DisplayNameFor(model => model.telefono_proveedor)*@
        </th>
        <th>
           Email: @*@Html.DisplayNameFor(model => model.email_proveedor)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_proveedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.rut_ptoveedor }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.rut_ptoveedor }) 
            @*@Html.ActionLink("Eliminar", "Delete", new { id=item.rut_ptoveedor })*@
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Gerente","Home")">Volver</a>