@model proyecto8.Models.proveedor_producto

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Proveedor Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_producto_proveedor)

    <div class="form-group">
        <h4 class="control-label col-md-2">Producto</h4>
        @*@Html.LabelFor(model => model.fk_id_producto, "fk_id_producto", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("fk_id_producto", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fk_id_producto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4 class="control-label col-md-2">Nombre del Proveedor</h4>
        @*@Html.LabelFor(model => model.fk_id_provvedor, "fk_id_provvedor", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("fk_id_provvedor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fk_id_provvedor, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
