@model Patagones.producto_proceso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>producto_proceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
