@model proyecto8.Models.proveedor_producto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>@*Are you sure you want to delete this?*@ ¿Estas seguro de eliminar el Proveedor del producto ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Producto: @*  @Html.DisplayNameFor(model => model.producto.producto1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.producto1)
        </dd>

        <dt>
           Nombre del proveedor: @* @Html.DisplayNameFor(model => model.proveedor.nombre_proveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.nombre_proveedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la vista", "Index")
        </div>
    }
</div>
