@model IEnumerable<proyecto8.Models.proveedor_producto>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedores de Productos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Producto: @* @Html.DisplayNameFor(model => model.producto.producto1)*@
        </th>
        <th>
           Nombre proveedor: @* @Html.DisplayNameFor(model => model.proveedor.nombre_proveedor)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.producto.producto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre_proveedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_producto_proveedor }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id_producto_proveedor }) 
            @*@Html.ActionLink("Eliminar", "Delete", new { id=item.id_producto_proveedor })*@
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Gerente","Home")">Volver</a>